{% extends 'layout/base_after.html' %}

{% block title %}
    WIKI
{% endblock %}

{% block css %}
    <style>
        .panel-default {
            margin-top: 10px;
        }

        .panel-default .panel-heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .panel-body {
            padding: 0;
        }

        .title_list {
            border-right: 1px solid #dddddd;
            min-height: 500px;
            margin-top: 20px;
        }

        .title_list ul {
            padding-left: 15px;
        }

        .title_list ul a {
            display: block;
            padding: 5px 0;

        }

        .content {
            border-left: 1px solid #dddddd;
            min-height: 600px;
            margin-left: -1px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">

        <div class="panel panel-default">
            <div class="panel-heading">
                <div>
                    <i class="fa fa-book" aria-hidden="true"></i> wiki文档
                </div>

                <div class="function">
                    <a type="button" class="btn btn-success btn-xs" href="{% url 'manages:wiki:add' project_id=request.tracer.project.id %}">
                        <i class="fa fa-plus-circle" aria-hidden="true"> 新建</i>
                    </a>

                    {% if wiki_obj %}
                        <a type="button" class="btn btn-primary btn-xs" href="{% url 'manages:wiki:edit' project_id=request.tracer.project.id %}">
                            <i class="fa fa-edit" aria-hidden="true"> 编辑</i>
                        </a>
                        <a type="button" class="btn btn-danger btn-xs" href="{% url 'manages:wiki:delete' project_id=request.tracer.project.id wiki_id=wiki_obj.id %}">
                            <i class="fa fa-trash" aria-hidden="true"> 删除</i>
                        </a>
                    {% endif %}
                </div>
            </div>

            <div class="panel-body">
                <div class="col-sm-3 title_list">
                    <ul id="catalog">

                    </ul>
                </div>

                <div class="col-sm-9 content">
                    {% if wiki_obj %}
                        {{ wiki_obj.content }}
                    {% else %}
                        <div style="text-align: center; margin-top: 50px">
                            <h4>《 {{ request.tracer.project.name }} 》 Wiki文档库</h4>
                            <a href="{% url 'manages:wiki:add' project_id=request.tracer.project.id %}">
                                <i class="fa fa-plus-circle" aria-hidden="true"> 新建文章</i>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>

        var WIKI_DETAIL_URL = "{% url 'manages:wiki:home' project_id=request.tracer.project.id %}";

        $(function () {
            initCatalog();
        })

        function initCatalog() {
            $.ajax({
                url: "{% url 'manages:wiki:catalog' project_id=request.tracer.project.id %}",
                type: "GET",
                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        // 左侧目录的父子级
                        $.each(res.data, function (index, item) {
                            var href = WIKI_DETAIL_URL + "?wiki_id=" + item.id;
                            var li = $("<li>").attr("id", "id_" + item.id).append($("<a>").text(item.title).attr("href", href)).append($("<ul>"));
                            if (!item.parent_id) {
                                $("#catalog").append(li);
                            } else {
                                $("#id_" + item.parent_id).children('ul').append(li)
                            }
                        })
                    } else {
                        alert("初始化目录失败！")
                    }
                }
            })
        }
    </script>
{% endblock %}